<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="is_sim" default="false"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="use_manipulation_controllers" default="false"/>

  <!-- Includes -->
  <xacro:include filename="$(find franka_description)/robots/common/utils.xacro" />
  <xacro:include filename="$(find franka_hardware)/ros2_control/franka_arm.ros2_control.xacro"/>

  <!-- safety_distance: Minimum safety distance in [m] by which the collision volumes are expanded and which is enforced during robot motions -->
  <!-- robot_type: the franka robot arm type -->
  <!-- joint_limits: description of the joint limits that comes from a YAML file. Example definition: ${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')} -->
  <!-- kinematics: description of the kinematics that comes from a YAML file. Example definition: ${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')} -->
  <!-- inertials: description of the inertials that comes from a YAML file. Example definition: ${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')} -->
  <!-- dynamics: description of the dynamics that comes from a YAML file. Example definition: ${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')} -->

  <!-- Re-definiton of `franka_arm` to adhere to Clearpath descriptions -->
  <xacro:macro name="franka_arm" params="
    robot_type
    parent_link
    *origin
    joint_limits
    inertials
    kinematics
    accelerometer_config
    dynamics
    arm_prefix:=''
    no_prefix:=false
    gazebo:=false
    safety_distance:=0
    with_sc:=false
    description_pkg:='franka_description'">

    <!-- Define a property that defaults to 'arm_prefix_robot_type' concatenated with an underscore if 'no_prefix' is not set -->
    <xacro:property name="prefix" value="${'' if no_prefix else arm_prefix + robot_type + '_'}" />
    <xacro:property name="with_accelerometers" value="${'false' if accelerometer_config == 'none' else 'true'}" />

    <joint name="${prefix}joint0" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${prefix}link0"/>
      <xacro:insert_block name="origin" />
    </joint>

    <xacro:link_with_sc no_prefix="${no_prefix}" name="link0" gazebo="${gazebo}" with_sc="${with_sc}" with_accelerometers="${with_accelerometers}">
      <self_collision_geometries>
        <xacro:collision_capsule xyz="-0.075 0 0.06" direction="x" radius="${0.06+safety_distance}" length="0.03" />
      </self_collision_geometries>
    </xacro:link_with_sc>

    <xacro:link_with_sc no_prefix="${no_prefix}" name="link1" gazebo="${gazebo}" with_sc="${with_sc}" with_accelerometers="${with_accelerometers}">
      <self_collision_geometries>
        <xacro:collision_capsule xyz="0 0 -191.5e-3" radius="${0.06+safety_distance}" length="0.283" />
      </self_collision_geometries>
    </xacro:link_with_sc>

    <joint name="${prefix}joint1" type="revolute">
      <xacro:franka-kinematics name="joint1" config="${kinematics}" />
      <parent link="${prefix}link0" />
      <child link="${prefix}link1" />
      <axis xyz="0 0 1" />
      <xacro:franka-limits name="joint1" config="${joint_limits}" />
      <xacro:franka-dynamics name="joint1" config="${dynamics}" />
    </joint>

    <xacro:link_with_sc no_prefix="${no_prefix}" name="link2" gazebo="${gazebo}" with_sc="${with_sc}" with_accelerometers="${with_accelerometers}">
      <self_collision_geometries>
        <xacro:collision_capsule xyz="0 0 0" radius="${0.06+safety_distance}" length="0.12" />
      </self_collision_geometries>
    </xacro:link_with_sc>

    <joint name="${prefix}joint2" type="revolute">
      <xacro:franka-kinematics name="joint2" config="${kinematics}" />
      <parent link="${prefix}link1" />
      <child link="${prefix}link2" />
      <axis xyz="0 0 1" />
      <xacro:franka-limits name="joint2" config="${joint_limits}" />
      <xacro:franka-dynamics name="joint2" config="${dynamics}" />
    </joint>

    <xacro:link_with_sc no_prefix="${no_prefix}" name="link3" gazebo="${gazebo}" with_sc="${with_sc}" with_accelerometers="${with_accelerometers}">
      <self_collision_geometries>
        <xacro:collision_capsule xyz="0 0 -0.145" radius="${0.06+safety_distance}" length="0.15" />
      </self_collision_geometries>
    </xacro:link_with_sc>

    <joint name="${prefix}joint3" type="revolute">
      <xacro:franka-kinematics name="joint3" config="${kinematics}" />
      <parent link="${prefix}link2" />
      <child link="${prefix}link3" />
      <axis xyz="0 0 1" />
      <xacro:franka-limits name="joint3" config="${joint_limits}" />
      <xacro:franka-dynamics name="joint3" config="${dynamics}" />
    </joint>

    <xacro:link_with_sc no_prefix="${no_prefix}" name="link4" gazebo="${gazebo}" with_sc="${with_sc}" with_accelerometers="${with_accelerometers}">
      <self_collision_geometries>
        <xacro:collision_capsule xyz="0 0 0" radius="${0.06+safety_distance}" length="0.12" />
     </self_collision_geometries>
    </xacro:link_with_sc>

    <joint name="${prefix}joint4" type="revolute">
      <xacro:franka-kinematics name="joint4" config="${kinematics}" />
      <parent link="${prefix}link3" />
      <child link="${prefix}link4" />
      <axis xyz="0 0 1" />
      <xacro:franka-limits name="joint4" config="${joint_limits}" />
      <xacro:franka-dynamics name="joint4" config="${dynamics}" />
    </joint>

    <xacro:link_with_sc no_prefix="${no_prefix}" name="link5" gazebo="${gazebo}" with_sc="${with_sc}" with_accelerometers="${with_accelerometers}">
      <self_collision_geometries>
        <xacro:collision_capsule xyz="0 0 -0.26"    radius="${0.060+safety_distance}" length="0.10" />
        <xacro:collision_capsule xyz="0 0.08 -0.13" radius="${0.025+safety_distance}" length="0.14" />
      </self_collision_geometries>
    </xacro:link_with_sc>

    <joint name="${prefix}joint5" type="revolute">
      <xacro:franka-kinematics name="joint5" config="${kinematics}" />
      <parent link="${prefix}link4" />
      <child link="${prefix}link5" />
      <axis xyz="0 0 1" />
      <xacro:franka-limits name="joint5" config="${joint_limits}" />
      <xacro:franka-dynamics name="joint5" config="${dynamics}" />
    </joint>

    <xacro:link_with_sc no_prefix="${no_prefix}" name="link6" gazebo="${gazebo}" with_sc="${with_sc}" with_accelerometers="false">
      <self_collision_geometries>
        <xacro:collision_capsule xyz="0 0 -0.03" radius="${0.05+safety_distance}" length="0.08" />
      </self_collision_geometries>
    </xacro:link_with_sc>

    <joint name="${prefix}joint6" type="revolute">
      <xacro:franka-kinematics name="joint6" config="${kinematics}" />
      <parent link="${prefix}link5" />
      <child link="${prefix}link6" />
      <axis xyz="0 0 1" />
      <xacro:franka-limits name="joint6" config="${joint_limits}" />
      <xacro:franka-dynamics name="joint6" config="${dynamics}" />
    </joint>

    <xacro:link_with_sc no_prefix="${no_prefix}" name="link7" gazebo="${gazebo}" rpy="0 0 ${pi/4}" with_sc="${with_sc}" with_accelerometers="false">
      <self_collision_geometries>
        <xacro:collision_capsule xyz="0 0 0.01" direction="z" radius="${0.04+safety_distance}" length="0.14" />
        <xacro:collision_capsule xyz="0.06 0 0.082" direction="x" radius="${0.03+safety_distance}"  length="0.01" />
      </self_collision_geometries>
    </xacro:link_with_sc>

    <joint name="${prefix}joint7" type="revolute">
      <xacro:franka-kinematics name="joint7" config="${kinematics}" />
      <parent link="${prefix}link6"/>
      <child link="${prefix}link7"/>
      <axis xyz="0 0 1"/>
      <xacro:franka-limits name="joint7" config="${joint_limits}" />
      <xacro:franka-dynamics name="joint7" config="${dynamics}" />
    </joint>

    <link name="${prefix}link8"/>

    <joint name="${prefix}joint8" type="fixed">
      <xacro:franka-kinematics name="joint8" config="${kinematics}" />
      <parent link="${prefix}link7" />
      <child link="${prefix}link8" />
    </joint>
  </xacro:macro>

  <xacro:macro name="franka" params="
    name
    parent_link
    *origin
    robot_type:=''
    joint_limits:=''
    joint_limits_parameters_file:=''
    inertials:=''
    inertials_parameters_file:=''
    kinematics:=''
    kinematics_parameters_file:=''
    dynamics:=''
    dynamics_parameters_file:=''
    accelerometer_config:=''
    ros2_control:=''
    robot_ip:=''
    use_fake_hardware:=''
    fake_sensor_commands:=''
    gazebo:=''
    gazebo_effort:=''
    safety_distance:=''
    with_sc:=''
    is_async:=''
    thread_priority:=''
    description_pkg:=''
  ">

    <!-- Franka Type -->
    <xacro:property name="_robot_type" value="fr3" lazy_eval="false"/>
    <xacro:if value="${robot_type != ''}">
      <xacro:property name="_robot_type" value="${robot_type}" lazy_eval="false"/>
    </xacro:if>

    <xacro:property name="_description_pkg" value="franka_description" lazy_eval="false"/>
    <xacro:if value="${description_pkg != ''}">
      <xacro:property name="_description_pkg" value="${description_pkg}" lazy_eval="false"/>
    </xacro:if>

    <!-- Description Parameter Files -->
    <xacro:property name="_joint_limits_parameters_file" value="$(find ${_description_pkg})/robots/${_robot_type}/joint_limits.yaml" lazy_eval="false"/>
    <xacro:property name="_inertials_parameters_file" value="$(find ${_description_pkg})/robots/${_robot_type}/inertials.yaml" lazy_eval="false"/>
    <xacro:property name="_kinematics_parameters_file" value="$(find ${_description_pkg})/robots/${_robot_type}/kinematics.yaml" lazy_eval="false"/>
    <xacro:property name="_dynamics_parameters_file" value="$(find ${_description_pkg})/robots/${_robot_type}/dynamics.yaml" lazy_eval="false"/>
    <xacro:if value="${joint_limits_parameters_file != ''}">
      <xacro:property name="_joint_limits_parameters_file" value="${joint_limits_parameters_file}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${inertials_parameters_file != ''}">
      <xacro:property name="_inertials_parameters_file" value="${inertials_parameters_file}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${kinematics_parameters_file != ''}">
      <xacro:property name="_kinematics_parameters_file" value="${kinematics_parameters_file}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${dynamics_parameters_file != ''}">
      <xacro:property name="_dynamics_parameters_file" value="${dynamics_parameters_file}" lazy_eval="false"/>
    </xacro:if>

    <!-- Loaded Parameters -->
    <xacro:property name="_joint_limits" value="${xacro.load_yaml(_joint_limits_parameters_file)}" lazy_eval="false"/>
    <xacro:property name="_inertials" value="${xacro.load_yaml(_inertials_parameters_file)}" lazy_eval="false"/>
    <xacro:property name="_kinematics" value="${xacro.load_yaml(_kinematics_parameters_file)}" lazy_eval="false"/>
    <xacro:property name="_dynamics" value="${xacro.load_yaml(_dynamics_parameters_file)}" lazy_eval="false"/>
    <xacro:if value="${joint_limits != ''}">
      <xacro:property name="_joint_limits" value="${joint_limits}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${inertials != ''}">
      <xacro:property name="_inertials" value="${inertials}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${kinematics != ''}">
      <xacro:property name="_kinematics" value="${kinematics}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${dynamics != ''}">
      <xacro:property name="_dynamics" value="${dynamics}" lazy_eval="false"/>
    </xacro:if>

    <!-- Control Parameters -->
    <xacro:property name="_ros2_control" value="$(arg use_manipulation_controllers)" lazy_eval="false"/>
    <xacro:property name="_robot_ip" value="192.168.131.40" lazy_eval="false"/>
    <xacro:property name="_is_async" value="false" lazy_eval="false"/>
    <xacro:property name="_thread_priority" value="99" lazy_eval="false"/>
    <xacro:if value="${ros2_control != ''}">
      <xacro:property name="_ros2_control" value="${ros2_control}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${robot_ip != ''}">
      <xacro:property name="_robot_ip" value="${robot_ip}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${is_async != ''}">
      <xacro:property name="_is_async" value="${is_async}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${thread_priority != ''}">
      <xacro:property name="_thread_priority" value="${thread_priority}" lazy_eval="false"/>
    </xacro:if>

    <!-- Simulation -->
    <xacro:property name="_gazebo" value="$(arg is_sim)" lazy_eval="false"/>
    <xacro:property name="_gazebo_effort" value="false" lazy_eval="false"/>
    <xacro:property name="_use_fake_hardware" value="false" lazy_eval="false"/>
    <xacro:property name="_fake_sensor_commands" value="false" lazy_eval="false"/>
    <xacro:if value="${gazebo != ''}">
      <xacro:property name="_gazebo" value="${gazebo}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${gazebo_effort != ''}">
      <xacro:property name="_gazebo_effort" value="${gazebo_effort}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${use_fake_hardware != ''}">
      <xacro:property name="_use_fake_hardware" value="${use_fake_hardware}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${fake_sensor_commands != ''}">
      <xacro:property name="_fake_sensor_commands" value="${fake_sensor_commands}" lazy_eval="false"/>
    </xacro:if>

    <!-- Collision Parameter -->
    <xacro:property name="_safety_distance" value="0.03" lazy_eval="false"/>
    <xacro:property name="_with_sc" value="false" lazy_eval="false"/>
    <xacro:if value="${safety_distance != ''}">
      <xacro:property name="_safety_distance" value="${safety_distance}" lazy_eval="false"/>
    </xacro:if>
    <xacro:if value="${with_sc != ''}">
      <xacro:property name="_with_sc" value="${with_sc}" lazy_eval="false"/>
    </xacro:if>

    <!-- Fixed Parameters -->
    <xacro:property name="_hand" value="false" lazy_eval="false"/>
    <xacro:property name="_ee_id" value="franka_hand" lazy_eval="false"/>
    <xacro:property name="_multi_arm" value="false" lazy_eval="false"/>
    <xacro:property name="_connected_to" value="" lazy_eval="false"/>
    <xacro:property name="_no_prefix" value="false" lazy_eval="false"/>
    <xacro:property name="_arm_prefix" value="${name}_" lazy_eval="false"/>
    <xacro:property name="_accelerometer_config" value="none" lazy_eval="false"/>

    <!-- Instantiate Clearpath version of franka_arm xacro-->
     <xacro:franka_arm
      robot_type="${_robot_type}"
      parent_link="${parent_link}"
      joint_limits="${_joint_limits}"
      inertials="${_inertials}"
      kinematics="${_kinematics}"
      dynamics="${_dynamics}"
      accelerometer_config="${_accelerometer_config}"
      arm_prefix="${_arm_prefix}"
      no_prefix="${_no_prefix}"
      gazebo="${_gazebo}"
      safety_distance="${_safety_distance}"
      with_sc="${_with_sc}"
      description_pkg="${_description_pkg}">
      <xacro:insert_block name="origin" />
    </xacro:franka_arm>

    <!-- Definition of additional Gazebo tags -->
    <xacro:if value="${_gazebo}">
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint1"
        transmission="hardware_interface/PositionJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint2"
        transmission="hardware_interface/PositionJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint3"
        transmission="hardware_interface/PositionJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint4"
        transmission="hardware_interface/PositionJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint5"
        transmission="hardware_interface/PositionJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint6"
        transmission="hardware_interface/PositionJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint7"
        transmission="hardware_interface/PositionJointInterface"/>

      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint1"
        transmission="hardware_interface/VelocityJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint2"
        transmission="hardware_interface/VelocityJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint3"
        transmission="hardware_interface/VelocityJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint4"
        transmission="hardware_interface/VelocityJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint5"
        transmission="hardware_interface/VelocityJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint6"
        transmission="hardware_interface/VelocityJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint7"
        transmission="hardware_interface/VelocityJointInterface"/>

      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint1"
        transmission="hardware_interface/EffortJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint2"
        transmission="hardware_interface/EffortJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint3"
        transmission="hardware_interface/EffortJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint4"
        transmission="hardware_interface/EffortJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint5"
        transmission="hardware_interface/EffortJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint6"
        transmission="hardware_interface/EffortJointInterface"/>
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint7"
        transmission="hardware_interface/EffortJointInterface"/>

      <xacro:transmission-franka-state robot_type="${robot_type}"/>
      <xacro:transmission-franka-model robot_type="${robot_type}"
        root="${arm_prefix}${robot_type}_joint1"
        tip="${arm_prefix}${robot_type}_joint8"
      />
    </xacro:if>

    <!-- Franka ros2_control Hardware Interface -->
    <xacro:if value="${_ros2_control}">
      <xacro:franka_arm_ros2_control
        robot_type="${_robot_type}"
        robot_ip="${_robot_ip}"
        use_fake_hardware="${_use_fake_hardware}"
        fake_sensor_commands="${_fake_sensor_commands}"
        gazebo="${_gazebo}"
        hand="${_hand}"
        gazebo_effort="${_gazebo_effort}"
        arm_prefix="${_arm_prefix}"
        is_async="${_is_async}"
        thread_priority="${_thread_priority}"/>
    </xacro:if>

  </xacro:macro>

</robot>
