<launch>
  <!-- This launcher launches gpsd as well as the client. You should disable
       automatically launching gpsd with dpkg-reconfigure gpsd.  -->
  <node pkg="clearpath_sensors" type="gpsd" name="gpsd" args="/dev/ttyUSB0"></node>
  <node pkg="gpsd_client" type="gpsd_client" name="gpsd_client">
    <param name="use_gps_time" value="false" />
  </node>
</launch>
