<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="universal_robots" params="name">
    <group name="${name}">
        <joint name="${name}_shoulder_pan_joint"/>
        <joint name="${name}_shoulder_lift_joint"/>
        <joint name="${name}_elbow_joint"/>
        <joint name="${name}_wrist_1_joint"/>
        <joint name="${name}_wrist_2_joint"/>
        <joint name="${name}_wrist_3_joint"/>
    </group>
    <group_state name="home" group="${name}">
        <joint name="${name}_shoulder_pan_joint" value="0.0"/>
        <joint name="${name}_shoulder_lift_joint" value="-1.5707"/>
        <joint name="${name}_elbow_joint" value="1.5707"/>
        <joint name="${name}_wrist_1_joint" value="-1.5707"/>
        <joint name="${name}_wrist_2_joint" value="-1.5707"/>
        <joint name="${name}_wrist_3_joint" value="0.0"/>
      </group_state>
    <group_state name="stow" group="${name}">
      <joint name="${name}_shoulder_pan_joint" value="0.0"/>
      <joint name="${name}_shoulder_lift_joint" value="-2.356"/>
      <joint name="${name}_elbow_joint" value="2.356"/>
      <joint name="${name}_wrist_1_joint" value="-1.5707"/>
      <joint name="${name}_wrist_2_joint" value="-1.5707"/>
      <joint name="${name}_wrist_3_joint" value="0.0"/>
    </group_state>
    <group_state name="zero" group="${name}">
        <joint name="${name}_shoulder_pan_joint" value="0"/>
        <joint name="${name}_shoulder_lift_joint" value="0"/>
        <joint name="${name}_elbow_joint" value="0"/>
        <joint name="${name}_wrist_1_joint" value="0"/>
        <joint name="${name}_wrist_2_joint" value="0"/>
        <joint name="${name}_wrist_3_joint" value="0"/>
    </group_state>
  </xacro:macro>
</robot>
