<?xml version="1.0"?>
<robot name="empty" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="is_sim" default="false" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="namespace" default="" />
  <xacro:arg name="gazebo_controllers" default="$(find clearpath_control)/config/generic/control/empty.yaml"/>
  <xacro:arg name="use_platform_controllers" default="true"/>
  <link name="base_link"/>
  <link name="default_mount"/>
  <joint name="default_mount_joint" type="fixed">
    <child link="default_mount"/>
    <parent link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
