<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:if value="$(arg is_sim)">
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg gazebo_controllers)</parameters>
      </plugin>
    </gazebo>

    <!--  commented because we use robot_state_publisher for gazebo classic, and no ignition packages are required -->
    <!-- <gazebo>
      <plugin filename="libignition-gazebo-pose-publisher-system.so" name="ignition::gazebo::systems::PosePublisher">
        <publish_link_pose>true</publish_link_pose>
        <publish_nested_model_pose>true</publish_nested_model_pose>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <update_frequency>50</update_frequency>
      </plugin>
    </gazebo>-->
  </xacro:if>
</robot>
