<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="bumper" params="name extension:=0 *origin">
    <xacro:property name="yaw" value="0" />
    <xacro:if value="${'rear' in name}">
      <xacro:property name="yaw" value="${PI}" />
    </xacro:if>

    <!-- Spawn bumper link -->
    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://clearpath_platform_description/meshes/j100/attachments/j100_fender.stl" />
        </geometry>
        <material name="yellow" />
      </visual>
    </link>

    <!-- Attach bumper -->
    <joint name="${name}_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 ${yaw}" />
      <parent link="base_link" />
      <child link="${name}_link" />
    </joint>

  </xacro:macro>
</robot>
