<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="front_fender" params="model *origin">
    <!-- Spawn fender link -->
    <link name="front_fender_link">
      <visual>
        <geometry>
          <xacro:if value="${model == 'default'}">
            <mesh filename="package://clearpath_platform_description/meshes/j100/attachments/default_fender.stl" />
          </xacro:if>
          <xacro:if value="${model == 'sensor'}">
            <mesh filename="package://clearpath_platform_description/meshes/j100/attachments/sensor_fender.stl" />
          </xacro:if>
        </geometry>
        <material name="yellow" />
      </visual>
    </link>

    <xacro:if value="${model == 'sensor'}">
      <link name="front_fender_mount"/>
      <joint name="front_fender_mount_joint" type="fixed">
        <origin xyz="0.25629 0 0.07455" rpy="${pi} 0 0" />
        <parent link="front_fender_link" />
        <child link="front_fender_mount" />
      </joint>
    </xacro:if>

    <!-- Attach fender -->
    <joint name="front_fender_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="base_link" />
      <child link="front_fender_link" />
    </joint>

  </xacro:macro>
</robot>
