<launch>
  <group ns="clearpath/robots/default">  
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
      <param name="dev" value="/dev/input/js0" />
    </node>
    <node pkg="clearpath_teleop" type="teleop.py" name="clearpath_teleop" output="screen">
      <param name="turn_scale" value="1.2" />
      <param name="drive_scale" value="1.5" />
      <param name="deadman_button" value="1" />
    </node>
  </group>
</launch>
