<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="front_bumper" params="extend:=0">

        <!-- Spawn front bumper link -->
        <link name="front_bumper_link">
            <visual>
                <geometry>
                <mesh filename="package://clearpath_platform_description/meshes/a200/decorations/bumper.dae" />
                </geometry>
            </visual>
        </link>

        <!-- Attach bumper -->
        <joint name="front_bumper" type="fixed">
            <origin xyz="${0.48 + extend} 0 0.091" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="front_bumper_link" />
        </joint>

        <xacro:if value="${extend}">
            <link name="front_bumper_extension_link">
                <visual>
                    <geometry>
                        <mesh filename="package://clearpath_platform_description/meshes/a200/decorations/bumper_extension.dae" />
                    </geometry>
                </visual>
            </link>

            <joint name="front_bumper_extension" type="fixed">
                <origin xyz="${0.48 + front_bumper_extend} 0 0.091" rpy="0 0 0" />
                <parent link="base_link" />
                <child link="front_bumper_extension_link" />
            </joint>
        </xacro:if>

    </xacro:macro>
</robot>