<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro" />
  <xacro:macro name="hokuyo_ust10" params="name parent_link *origin">
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!-- Origin of this mesh is the base of the bracket. -->
          <mesh filename="package://clearpath_sensors_description/meshes/hokuyo_ust10.stl" />
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>

    <link name="${name}_laser">
      <inertial>
        <mass value="1.1" />
        <origin xyz="0 0 0" />
        <inertia ixx="${0.0833333 * 1.1 * (0.102*0.102 + 0.152*0.152)}" ixy="0.0" ixz="0.0"
                 iyy="${0.0833333 * 1.1 * (0.105*0.105 + 0.152*0.152)}" iyz="0.0"
                 izz="${0.0833333 * 1.1 * (0.105*0.105 + 0.102*0.102)}" />
      </inertial>
    </link>

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}" />
      <child link="${name}_link" />
    </joint>

    <joint name="${name}_laser_joint" type="fixed">
      <!-- This offset is from the base of the bracket to the LIDAR's focal point. -->
      <origin xyz="0 0 0.0474" rpy="0 0 0" />
      <parent link="${name}_link" />
      <child link="${name}_laser" />
    </joint>

  </xacro:macro>

</robot>
