<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="novatel_smart7" params="name parent_link *origin">
    <link name="${name}_link">
      <visual>
        <origin xyz="-0.095 0 0" rpy="${pi/2} 0 -${pi/2}" />
        <geometry>
          <mesh filename="package://clearpath_sensors_description/meshes/novatel_smart7.stl"/>
        </geometry>
        <material name="novatel_white">
          <color rgba="0.8 0.8 0.8 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="-0.095 0 0" rpy="${pi/2} 0 -${pi/2}" />
        <geometry>
          <mesh filename="package://clearpath_sensors_description/meshes/novatel_smart7.stl"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}" />
      <child link="${name}_link" />
    </joint>
  </xacro:macro>
</robot>
